.servi {
    margin-top: 4%;
}

.servicios {
    margin-top: 7%;
    color: aliceblue;
    max-width: 1200px;
    margin: 70px auto;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 40px;
    color: #aeaeae;
}

.tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.tarjeta {
    perspective: 1000px;
}

.contenido-tarjeta {
    position: relative;
    width: 100%;
    height: 250px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.tarjeta:hover .contenido-tarjeta {
    transform: rotateY(180deg);
}

.cara {
    position: absolute;
    width: 95%;
    height: 90%;
    backface-visibility: hidden;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.671);
    backdrop-filter: blur(5px);
}

.cara:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.671);
    backdrop-filter: blur(5px);
}

.cara.frontal {
    color: #ffffff;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.671);
    backdrop-filter: blur(5px);
}

.cara.trasera {
    background-color: #1e3042;
    color: #ffffff;
    transform: rotateY(180deg);
    background: rgba(0, 0, 0, 0.671);
    backdrop-filter: blur(5px);
}
